  <!-- ======= Property Search Section ======= -->
  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
<!-- End Property Search Section -->>
<!-- modal -->
	
  <!-- ======= Header/Navbar ======= -->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="index.html">Estate<span class="color-b">Agency</span></a>

      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
          </li>

          

          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/biens']" routerLinkActive="router-link-active">Property</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/reclamation']" routerLinkActive="router-link-active">Reclamation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
          </li>
        </ul>
      </div>

      <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse"
       [routerLink]="['/login']" routerLinkActive="router-link-active" *ngIf="!c()">Login
        <i class="fas fa-user"></i>
      </button>
      <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse"
      [routerLink]="['/login']" routerLinkActive="router-link-active" *ngIf="c()" (click)="logout()">LogOut
       <i class="fas fa-user"></i>
     </button>
     
    </div>
  </nav>