
<div style="margin-left: 300px; margin-top: 70px;" >
</div>



<div class="container">
 
  <div class="row">
   

  
   
    <div class="col" style="margin-left: 250px;">
      <div class="card" style="width: 50rem;" >

        <div class="card-body">
          <form>
      
            <br />
            <div>
              <legend>Reservation Details</legend>
              <div class="columns">
                <div class="item">
                  <label for="fname">First Name<span>*</span></label>
                  <input id="fname" type="text" name="fname" />
                </div>
                <div class="item">
                  <label for="lname"> Last Name<span>*</span></label>
                  <input id="lname" type="text" name="lname" />
                </div>
      
                <div class="item">
                  <label for="zip">CIN<span>*</span></label>
                  <input id="zip" type="text" name="Cin" required />
                </div>
      
      
                <div class="item">
                  <label for="phone">Phone<span>*</span></label>
                  <input id="phone" type="tel" name="phone" />
                </div>
                <div class="item">
                  <label for="checkindate">Check-in Date <span>*</span></label>
                  <input id="checkindate" type="date" name="checkindate" />
                  <i class="fas fa-calendar-alt"></i>
                </div>
                <div class="item">
                  <label for="checkoutdate">Check-out Date <span>*</span></label>
                  <input id="checkoutdate" type="date" name="checkoutdate" />
                  <i class="fas fa-calendar-alt"></i>
                </div>
              </div>
              <br />
              <div class="btn-block">
                <button type="submit" href="/">Submit</button>
              </div>
      
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>